.vscode/
/UNG/build/
UNG/codes/build/
/NaviX/build/
/ACORN/build_local/
/knowhere/build/
/knowhere/**/build/
Dockerfile
!/Dockerfile
FAVOR/build/
FAVOR/data/
FAVOR/tmp/
docs/
DataTools/
/tools/
log/
/ACORN/
/NaviX/
/knowhere/
